[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/vim-rspec"]
	path = vim/bundle/vim-rspec
	url = https://github.com/taq/vim-rspec.git
